.parent {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center; /* Align Items Vertically */
  justify-content: space-between; /* Align Items Horizontally (with equal space in between each of them */
  background: #559e96;
  text-decoration: none;
  position: fixed;
  top:0px;
  left: 0px;
}

img, parent{
  height: 90px;
  padding: 10px;
}

a, child{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #FF8362;
}
.children, parent {
  display: flex;
}

.child, parent {
  margin: 0 5px;
  padding: 0 5px;
  font-size: 30px;
}
